@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html {
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif
}
body {
    padding: 0;
    margin: 0; 
    background-color: #e6ccff;
}
main {
    display: flex;
    justify-content: center; 
    align-items: flex-start;   
    text-align: center;      
    padding: 2em;   
    padding-top: 10em;         
}

.text-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}
.text-container-contact {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}
.text-container-contact a {
    color: black;        
    text-decoration: none;
}

.text-container-mystuff {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
   
}

.text-container-mystuff a:link,
.text-container-mystuff a:visited {
    color: black;
    text-decoration: none;
}

.text-container-software {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
   
}

.text-container-software a:link,
.text-container-software a:visited {
    color: black;
    text-decoration: none;
}
.text-container-socials {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
   
}

.text-container-socials a:link,
.text-container-socials a:visited {
    color: black;
    text-decoration: none;
}
.text-container-mods {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
   
}

.text-container-mods a:link,
.text-container-mods a:visited {
    color: black;
    text-decoration: none;
}
.text-container-SP2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
   
}

.text-container-SP2 a:link,
.text-container-SP2 a:visited {
    color: black;
    text-decoration: none;
}
.text-container-gt {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
   
}

.text-container-gt a:link,
.text-container-gt a:visited {
    color: black;
    text-decoration: none;
}
.text-container-bs {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
   
}

.text-container-bs a:link,
.text-container-bs a:visited {
    color: black;
    text-decoration: none;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
    padding: 0;
    margin: 0;
}
nav a {
    color: black;        
    text-decoration: none;
}
nav li:first-child{
    margin-right: auto;
}
nav a:hover{
    text-decoration: underline;
}
nav a:visited {
    color: black;
}
nav {
    background-color: #d4b3e6;
    padding: 10px 20px;    
   }
   .text-container h3 {
    margin: 0.3em;
}
.text-container img {
    margin-top: 2em;
    max-width: 100%;
    border-radius: 15px;
}
.text-container-contact a:link,
.text-container-contact a:visited {
    color: black;
    text-decoration: none;
}
