@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html {
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif
}
body {
    padding: 0;
    margin: 0; 
    background-color: #e6ccff;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
    padding: 0;
    margin: 0;
}
nav a {
    color: black;        
    text-decoration: none;
}
nav li:first-child{
    margin-right: auto;
}
nav a:hover{
    text-decoration: underline;
}
nav a:visited {
    color: black;
}
nav {
    background-color: #d4b3e6;
    padding: 10px 20px;       }